/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Palette from actual mckinney chamber site */
:root {
    /* Primary Colors */
    --primary-0: #0f1d24;
    --primary-100: #0f1d24;
    --primary-200: #264d5e;
    --primary-300: ;
    --primary-400: #84b6cd;

    /* Secondary Colors */
    --secondary-0: #0f1324;
    --secondary-100: #0f1324;
    --secondary-200: #26325e;
    --secondary-300: #4458a7;
    --secondary-400: #8492cd;

    /* Accent Colors */
    --accent-0: #0f2420;
    --accent-100: #0f2420;
    --accent-200: #265e54;
    --accent-300: #44a795;
    --accent-400: #84cdbf;

    /* Neutral Colors */
    --neutral-0: #17191c;
    --neutral-100: #3c4048;
    --neutral-200: #6b7280;
    --neutral-300: #a0a6b0;
    --neutral-400: #d8dadf;

/* CSS HEX */
    --9d7169: #9d7169;
    --d59063: #d59063;
    --0c395a: #0c395a;
    --e76140: #e76140;
    --609074: #609074;
    --f78f3e: #f78f3e;
    --5f6b79: #5f6b79;
    --87acc2: #87acc2;
    --e6c2a8: #e6c2a8;

   /*  
   
   // SCSS HEX 
    $#9d7169: #9d7169;
    $#d59063: #d59063;
    $#0c395a: #0c395a;
    $#e76140: #e76140;
    $#609074: #609074;
    $#f78f3e: #f78f3e;
    $#5f6b79: #5f6b79;
    $#87acc2: #87acc2;
    $#e6c2a8: #e6c2a8;

     //SCSS RGB 
    $#9d7169: rgba(157, 113, 105, 1);
    $#d59063: rgba(213, 144, 99, 1);
    $#0c395a: rgba(12, 57, 90, 1);
    $#e76140: rgba(231, 97, 64, 1);
    $#609074: rgba(96, 144, 116, 1);
    $#f78f3e: rgba(247, 143, 62, 1);
    $#5f6b79: rgba(95, 107, 121, 1);
    $#87acc2: rgba(135, 172, 194, 1);
    $#e6c2a8: rgba(230, 194, 168, 1);
 */
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    font-family: "Lato", "roboto", sans-serif;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Lato', 'Roboto', sans-serif;
}

/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--primary-0);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 2rem;
    color: var(--neutral-400);
}

/*----------- NAVIGATION --------------*/

/* hamburger navigation */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--neutral-400);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*  navigation */
.navigation {
    display: none;
    background-color: var(--primary-0);
    ;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary-0);
}

.navigation li {
    background-color: var(--primary-200);
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    color: var(--neutral-400);
}

.navigation li.current {
    background-color: var(--accent-200);
}

.navigation a:hover {
    background-color: var(--secondary-400);
}

/*----------- MAIN --------------*/
main {
    padding: 0.5rem 10px;
    min-height: 20rem;
    background-color: var(--primary-400);
    display: block;
}

h1 {
    font-size: 3rem;
    color: var(--primary-0);
    margin-left: 10px;
}

h2 {
    margin: 0;
    background-color: var(--primary-0);
    border: 1px solid var(--neutral-100);
    border-radius: .5rem .5rem 0 0;
    color: var(--accent-400);
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    margin: 0;
    padding: .8rem;
}

section {
    margin: 1rem 0;
    padding: 0;
    border: 1px solid var(--neutral-100);
    border-radius: .5rem;
}

img {
    width: 100%;
    height: auto;
    padding: .5rem;
}

/*----------- FOOTER --------------*/
footer {
    background-color: var(--primary-0);
    color: var(--accent-400);
    text-align: center;
}


.footer-links a {
    color: var(--accent-400);
    margin: 0;
    padding: 0;
}

.footer-links {
    padding: 0 .8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--primary-400);
}
.footer-links img {
    max-height: 48px;
}

/*----------- card Section --------------*/
.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.grid section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-200);
    border: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--neutral-400);
}

.grid section>p {
    margin: .5rem;
    font-size: smaller;
    text-align: center;
}

.grid img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #111;
}