/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Tetradic Palette starting with base color of #0f1d24 */
/* pulled from https: //www.accessibility.build/tools/color-palette-generator */
:root {
    /* Primary Colors */
    --primary-0: #0f1d24;
    --primary-100: #0f1d24;
    --primary-200: #0f1d24;
    --primary-300: #2d576c;
    --primary-400: #4b91b4;

    /* Secondary Colors */
    --secondary-0: #240f13;
    --secondary-100: #240f13;
    --secondary-200: #240f13;
    --secondary-300: #6c2d39;
    --secondary-400: #b44b5e;

    /* Accent Colors */
    --accent-0: #24200f;
    --accent-100: #24200f;
    --accent-200: #24200f;
    --accent-300: #6c602d;
    --accent-400: #b4a14b;

    /* Neutral Colors */
    --neutral-0: #17191c;
    --neutral-100: #3c4048;
    --neutral-200: #6b7280;
    --neutral-300: #a0a6b0;
    --neutral-400: #d8dadf;
    --neutral-500: #dedfe3;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    font-family: "Lato", "roboto", sans-serif;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Lato', 'Roboto', sans-serif;
}

/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--primary-0);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 2rem;
    color: var(--neutral-400);
}

/*----------- NAVIGATION --------------*/

/* hamburger navigation */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--neutral-400);
    cursor: pointer;

}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*  navigation */
.navigation {
    display: none;
    /* background-color: var(--primary-0); */
    ;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: var(--accent-300); */
}

.navigation li {
    /* background-color: var(--accent-0); */
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    /* border-bottom: solid 1px var(--neutral-300); */
    color: var(--primary-0);
}

.navigation li.current {

    a {
        text-decoration: underline;
    }

}

.navigation a:hover {
    background-color: var(--primary-400);
}

/*----------- MAIN --------------*/
main {
    padding: 0.5rem 10px;
    min-height: 20rem;
    display: block;
}

img {
    width: 100%;
    height: auto;
}




h1 {
    font-size: 3rem;
    color: var(--primary-0);
    margin-left: .8rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--primary-0);
    margin-left: .8rem;
}

h3 {
    font-size: 1.2rem;
    color: var(--primary-0);
    margin-left: .8rem;
}

p {
    padding: .8rem;
}

section {
    border: 1px solid var(--primary-0);
    border-radius: .75rem;
    margin: .8rem 0;
    background-color: var(--neutral-400);
}

section h2 {
    background-color: var(--primary-0);
    color: var(--neutral-400);
    margin: 0;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem;
}

/*----------- FOOTER --------------*/
footer {
    background-color: var(--primary-0);
    color: var(--neutral-400);
    text-align: center;
}

footer h2 {
    color: var(--neutral-400);
}

.footer-links {
    padding: 0 .8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--primary-0);
    align-items: center;
}

.footer-links a {
    margin: 0;
    padding: 0;
}

.footer-links img {
    max-height: 48px;
}

/*----------- Spotlight --------------*/

.spotlight {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
}

.spotlight h2 {
    display: none;
}

.spot {
    border: 1px solid var(--primary-0);
    border-radius: .75rem;
    background-color: var(--neutral-400);
    text-align: center;
    margin-bottom: .5rem;

    &>* {
        margin: 0.4rem;
    }
}

.spot a {
    /* font-family: Arial, sans-serif; */
    font-size: 0.85rem;
    color: var(--primary-0);
}

.spot-details {
    display: grid;
    grid: 1fr 1fr 1fr / 40% 60%;
}

.spot-details p {
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    text-align: center;

}

.spot-details img {
    width: 100%;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: auto;
    border: 1px solid #111;
    background-color: var(--neutral-400);
    grid-area: 1 / 1 / 4 / 2;
}

.email {
    grid-area: 1 / 2 / 2 / 3;
}

.phone {
    grid-area: 2 / 2 / 3 / 3;
}

.website {
    grid-area: 3 / 2 / 4 / 3;
}

.content {
    display: block;
}

#currentweather {
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.hero {
    display: flex;
    position: relative;
    border: 1px solid black;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: var(--secondary-300);
    color: var(--neutral-400);
    padding: .4rem;
    border: 1px solid var(--neutral-100);
    border-radius: .5rem;
}

.hero span {
    position: absolute;
    left: 1rem;
    top: 20px;
    color: var(--primary-0);
    font-size: 1.2rem;

}

form {
    margin: 1rem 2%;

    label {
        display: block;
        font-size: .8rem;
        color: purple;
        padding-top: .2rem;
    }

    h3 {
        font-size: .9rem;
        color: #E07A5F;
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select,
    textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        width: 250px;
    }

    textarea {}

    input:required {
        border-left-color: #d70000;
    }

    input:focus {
        border-left-color: black;
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: #3D405B;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

.cardcontainer {
    margin: 1rem 2%;
}

.card {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 2rem 0;
    width: 250px;
    background-color: var(--accent-400);
    text-align: center;
    opacity: 0;/* Start hidden */
    transform: translateY(40px); /* Start slightly below */
    animation: fadeInUp 0.6s ease forwards; /* see related keyframe below */
}

/* stagger the timing on the card animations so they all are slightly off beat of each other */
.card:nth-child(1) {
    animation-delay: 0.1s;
}
.card:nth-child(2) {
    animation-delay: 0.2s;
}
.card:nth-child(3) {
    animation-delay: 0.3s;
}
.card:nth-child(4) {
    animation-delay: 0.4s;
}


/* moves to final position */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#memberLevel div {
        display: grid;
        grid-template-columns: auto 44px;
        background-color: #ddd;
        padding: 5px;
        border-bottom: #aaa 1px solid;

    }

    #memberLevel h2 {
        margin: 0;
        color: blue;

    }

    #memberLevel button {
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        box-shadow: 0 0 10px #aaa;

    }

    #memberLevel p {
        padding: 10px;
        color: slategray;
    }

    ::backdrop {
        background-color: rgba(255, 255, 255, 0.75);
    }
}