@media only screen and (min-width:64rem) {

    header,
    nav,
    main,
    footer {

        max-width: 1200px;
        margin: 0 auto;
    }



#places {
    display: grid;
    grid-template-columns: 1fr 1fr;

}




}