*{box-sizing: border-box;
width: 90%;
}

#memberLevel div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    padding: 5px;
    border-bottom: #aaa 1px solid;

}

#memberLevel h2 {
    margin: 0;
    color: blue;

}

#memberLevel button {
    margin: 0;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;

}

#memberLevel p {
    padding: 10px;
    color: slategray;
}
::backdrop {
    background-color: rgba(255, 255, 255,0.75);
}